<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<header>
	<link rel="stylesheet" type="text/css" href="dating.css" />
	<title>David's Legit Matchmaking App &lt;3 </title>
	<h2><strong>David's Legit Matchmaking App &lt;3</strong></h2>
</header>

<body>


<form name="wrapper" action="/matchmaker/potentialmatch/" method="POST">

Name: <input type="text" name="fullname"> <br/>

<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female
<br>

Your Facebook URL: <input type="text" name="fb url"> <br/>

What is your MBTI personality type? 

<select name="MBTI">
	<option value="ESTJ">ESTJ</option>
	<option value="ESTP">ESTP</option>
	<option value="ESFJ">ESFJ</option>
	<option value="ESFP">ESFP</option>
	<option value="ENTJ">ENTJ</option>
	<option value="ENTP">ENTP</option>
	<option value="ENFJ">ENFJ</option>
	<option value="ENFP">ENFP</option>
	<option value="ISTJ">ISTJ</option>
	<option value="ISTP">ISTP</option>
	<option value="ISFJ">ISFJ</option>
	<option value="ISFP">ISFP</option>
	<option value="INTJ">INTJ</option>
	<option value="INTP">INTP</option>
	<option value="INFJ">INFJ</option>
	<option value="INFP">INFP</option>
</select>
</br>
<input type="submit" value="Submit">
</form>
</form>

</body>

</html>